<!--SIDEBAR-->
<ul class="sidenav sidenav-fixed a-sidenav">
  <li><h4>Newborn</h4></li>
  <li *ngFor="let link of links" class="bold" routerLinkActive="active">
    <a [routerLink]="[link.url]" class="waves-effect waves-orange">
      {{link.name}}
    </a>
  </li>
  <li (click)="logout($event)" class="bold last">
    <a class="waves-effect waves-orange" href="#">
      Выйти
    </a>
  </li>
</ul>

<main class="content">
  <router-outlet></router-outlet>
</main>

<!--Floating button-->

<div #floating class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="/order">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" routerLink="/categories/new">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</div>

<a class="waves-effect waves-light btn btn-floating" id="menu"><i class="material-icons">info</i></a>
