<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input id="number" min="1" type="number">
        <label for="number">Номер заказа</label>
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input class="datepicker" type="text">
        <label>Начало</label>
      </div>

      <div class="input-field">
        <input class="datepicker" type="text">
        <label>Конец</label>
      </div>
    </div>
  </div>

  <button class="btn waves-effect wavers-light btn-small">Применить фильтр</button>
</div>
